// Colors
$white: #FFFFFF;
$lightGrey: #F5F5F5;
$yellow: #FFF212;
$blue: #3E4095;
$darkBlue: #25265D;
$black: #202020;
$darkGrey: #262626;
$grey: #F6F9FF;


// Breakpoints
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 576px;

// Font
// $font-title: "Glacier";
// $font-title-bold: "Glacier Bold";
$font-base: 'Poppins', sans-serif;

// Font Size
$font-h1: 2.25rem;
$font-h2: 2rem;
$font-h3: 1.75rem;
$font-h4: 1.5rem;
$font-h5: 1.125rem;
$font-h6: 1rem;
$font-normal: 1rem;
